<div class="header-top">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body poppinsMedium">
          <div>
              <p class="font15">TOTAL AFFILIATES</p>
              <p class="font20 count">234</p>
              <p class="bottomText poppinsLight"><small>3.48% Since last month</small></p>
            </div>
            <div class="card-icon">

            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
              <div>
                <p class="font15 poppinsMedium">TOTAL PAYOUT</p>
                <p class="font20 count ">₦ <span class="poppinsSemiBold">1,200,345</span></p>
                <p class="bottomText poppinsLight totalPayout"><small>This current month</small></p>
              </div>
              <div class="card-icon">

                </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body poppinsMedium">
              <div>
                <p class="font15">PRO eTRADERS</p>
                <p class="font20 count">2345</p>
                <p class="bottomText poppinsLight"><small>3.48%Since last month</small></p>
              </div>
            </div>
            <div class="card-icon">

              </div>
          </div>
    </div>
  </div>

</div>
