<div class="contentWrapper  reportsContentWrapper affiliateContentWrapper paddingXtraLarge">
    <div class="searchItem">
      <div class="col-md-4">
        <div class="form-group searchGroup">
            <input class="form-control searchInput" placeholder="Search" />
            <span class="searchIcon"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>

    <div class="reportsWrapper">
        <h2 class="poppinsSemiBold font20">Affiliate Report</h2>
        <div class="reportsHeading poppinsMedium">
          <div class="row">
            <div class="col-md-4">Name</div>
            <div class="col-md-3 textCenter">Referrals</div>
            <div class="col-md-3 textCenter">Point</div>
            <div class="col-md-2 textCenter">Amount</div>
          </div>
        </div>
        <div class="reportsLists poppinsLight" *ngIf="affiliateUsers.length">
          <div class="row reportItem" *ngFor="let user of affiliateUsers">
            <div class="col-md-4 name">{{user.name}}</div>
            <div class="col-md-3 textCenter">{{user.referalCount}}</div>
            <div class="col-md-3 textCenter">{{user.points}}</div>
            <div class="col-md-2 textCenter">{{user.amount}}</div>
          </div>
        </div>
    </div>
  </div>
