/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'poppinsLight';
    src: url('./assets/fonts/Poppins-Light.woff');
}

@font-face {
    font-family: 'poppinsBold';
    src: url('./assets/fonts/Poppins-Bold.woff');
}

@font-face {
    font-family: 'poppinsMedium';
    src: url('./assets/fonts/Poppins-Medium.woff');
}

@font-face {
    font-family: 'poppinsSemiBold';
    src: url('./assets/fonts/Poppins-SemiBold.woff');
}

@font-face {
    font-family: 'helvetica';
    src: url('./assets/fonts/Helvetica-Normal.woff');
}

@font-face {
    font-family: 'helveticaBold';
    src: url('./assets/fonts/HelveticaBold.woff');
}

.poppinsLight {
    font-family: poppinsLight;
}

.poppinsBold {
    font-family: poppinsBold;
}

.poppinsMedium {
    font-family: poppinsMedium;
}

.poppinsSemiBold {
    font-family: poppinsSemiBold;
}

.helvetica {
    font-family: helvetica;
}

.helveticaBold {
    font-family: helveticaBold;
}

.font-red {
    color: #ff0000;
}

.font-white {
    color: #ffffff;
}

.green {
    background: #22ad4a;
}

.red {
    background: #ff0000;
}


.font20 {
    font-size: 20px;
}

.font16 {
    font-size: 16px;
}

.font18 { font-size: 18px;}

.font15 {
    font-size: 15px;
}

.fw700 {
    font-weight: 700;
}

.pt-15 {
    padding-top: 15px;
}

.mt25 {
    margin-top: 25px !important;
}

.mr-auto {
    margin-right: auto;;
}

.ml-auto {
    margin-left: auto;;
}

.m-auto { margin: 0px auto;}

.mainRow {
    width: 85%;
}

.textCenter { text-align: center;}

.cursor { cursor: pointer;}

body { margin: 0px; padding: 0;}

.sidebar-left{ position: fixed; width: 250px; left: 0px; height: 100vh; background: #ebeff4; top:0px}

.sidebar-left .logo img { width: 175px; display: block; margin: 30px auto;}

.side-nav { margin-top: 5rem;}

.side-nav ul { list-style: none; padding: 0;}

.side-nav ul li { font-size: 16px; cursor: pointer; padding: 0.5rem 2rem; color: #7c7c7c; outline: none;}

.side-nav ul li i { padding: 10px; font-size: 20px;}

.main-content-wrap { width: calc(100% - 250px); float: right; }

.paddingXtraLarge {  padding:0 4rem 3rem 4rem;}

.header-top { background: rgb(205,47,98);
  background: linear-gradient(90deg, rgba(205,47,98,1) 0%, rgba(255,173,20,1) 100%); padding:4rem 4rem 9rem 4rem; }

.header-top .card { border-radius: 10px; background: #f8f9ff; margin: 0px; box-shadow: 0px 10px 10px -10px #333;}

.card-body  p { color: #939393;}

.card-body p.count { color: #000;}

.card-body p.bottomText { position: relative; margin-bottom: 0px; margin-top: 2rem;}

.card-body p.bottomText:before { position: absolute; content:'\f062'; font-size: 20px; top: -30px; left: 0; font-family: "FontAwesome"; color: #22ad4a; box-shadow: 0px 10px 10px -10px #333;}

.card-body p.bottomText.totalPayout:before { content: '';}

.contentWrapper { margin-top: -4rem;}

.contentWrapper h2 { color: #fff; font-size: 22px;}

.affiliateWrapper { margin-top: 5rem;}

.affilateForm .form-group .form-control{ height: 50px; background: #fff; border-color: #707070;  }

.affiliateUser img {width: 60%; margin: 0px auto; display: block;}

.affilateForm button.btn.submitButton { text-align: center; background: #354078; color: #fff; width: 100%; padding: 12px;}

.calender .input-group-append button.btn { background: #fff; color: #b2aeae; }

.calender .input-group-append button.btn { font-size: 18px;}

.contentWrapper .searchItem { float: right; position: relative;}

.contentWrapper .searchItem input { width: 200px; background: none; border-radius: 100px !important; color: #fff; border: 2px solid #fff; padding-left: 40px !important; height: 45px;}

.contentWrapper .searchItem .searchIcon { position: absolute; top: 10px; left: 20px;}

.contentWrapper .searchItem .searchIcon i{ color: #fff;}

.reportsWrapper { margin-top: -3rem; background: #022a4b; clear: both; color: #fff; border-radius: 8px; }

.reportsHeading{ background: #18345f; color: #0475c7; }

.reportsHeading, .reportItem,.reportsWrapper h2 { padding:1rem 2rem;}

.reportsHeading .row { margin: 0;}

.reportItem { border-bottom: 1px solid #18345f; margin:0}

.reportItem div,.reportsHeading div { padding: 0; font-size: 15pz;}

.reportsContentWrapper { margin-top: -7rem;}

.affiliateContentWrapper .searchItem { display: flex; width: 100%;}

.affiliateContentWrapper .searchItem  .searchIcon { left: 30px;}

.affiliateContentWrapper .reportsWrapper { background: #fff; color: #333; box-shadow: 0px 0px 5px rgba(0,0,0,0.2); border-radius: 8px;}

.affiliateContentWrapper .reportsHeading {background: #efefef; color: #000;}

.affiliateContentWrapper h2{ color: #000;}

.affiliateContentWrapper .reportItem{ border-color:rgba(0,0,0,0.06) }

.affiliateTopRight .calender .input-group-append button.btn.btn-secondary { position: absolute; top: 0px; left: 0; height: 100%; background-color: rgba(255,255,255,0); border-color: rgba(255,255,255,0);}

.affiliateTopRight .calender .input-group-append button.btn.btn-secondary i { color: #fff;}

.affiliateTopRight .calender { display: flex; }

.affiliateTopRight .calender span.text { color: #fff; vertical-align: middle; padding-right: 10px; line-height: 50px;}

.affiliateTopRight .calender .searchIcon { left: 15px;}

/* .contentWrapper .searchItem .affiliateTopRight input, .contentWrapper .searchItem .affiliateTopRight .input-group { cursor: pointer; width: 175px;} */

.affiliateTopRight { position: absolute; right: 20px;}

.affiliateTopRight input { cursor: pointer;}

.searchItem input::placeholder { color: #fff;}

.searchItem input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.searchItem input::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}
.referalUserIcons { position: relative; padding-left: 5px;}

.referalUserIcons img { width: 30px; position: relative;}

.absoluteImg { margin-left: -5px;}

.paginationControls {text-align: right; margin: 30px 0px;}

.paginationControls ul li, .paginationControls ul li.pagination-previous, .paginationControls ul li.pagination-next {margin: 0px 5px;  border-radius: 100%;  font-size: 16px; text-align: center; width: 40px; height: 40px; line-height: 30px;}

.paginationControls ul li.current { background: #00294c;}

.paginationControls ul li.pagination-previous, .paginationControls ul li.pagination-next { background: none;}

.paginationControls ul li { width: 40px; height: 40px; border: 1px solid #00294c; border-radius: 100%; }

.paginationControls ul li:hover a{ border-radius: 100%;}

.ngx-pagination a:hover, .ngx-pagination button:hover{background: none !important; }

.paginationControls .ngx-pagination .pagination-previous a, .paginationControls .ngx-pagination .pagination-next a,
.paginationControls .pagination-previous.disabled, .paginationControls .pagination-next.disabled { padding: 0; width: 40px; height: 40px;}

.paginationControls .ngx-pagination .pagination-previous a::before, .paginationControls .ngx-pagination .pagination-previous.disabled::before,
.paginationControls .ngx-pagination .pagination-next a::after, .paginationControls .ngx-pagination .pagination-next.disabled::after { margin: 0; font-size: 26px;}

